* {
  box-sizing: border-box;
  font-family: "Righteous", cursive;
}
body {
  background: rgb(66, 135, 245);
  font-size: 1.25em;
}

.strike {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-decoration: line-through;
}

h1 {
  font-size: 1.5em;
}
.header {
  padding: 30px 40px;
  color: white;
  text-align: center;
  font-size: 1.1em;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border-radius: 5%;
  border: solid;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.button {
  padding: 10px;
  width: 15%;
  background: rgba(0, 29, 70, 0.658);
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border: solid;
  border-radius: 15%;
}

#sortButton {
  float: right;
  margin: 5px 0;
  padding: 10px;
}
#deleteButton {
  margin: auto;
  float: right;
  width: 20%;
  height: 50%;
}

#prioritySelector {
  padding: 10px;
  width: 10%;
  background: rgba(0, 29, 70, 0.658);
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border: solid;
  border-radius: 15%;
}

#prioritySelector :hover {
  background: #d9d9d9;
}

button:hover {
  background-color: rgb(255, 255, 255);
}

.main {
  display: inline-block;
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem 5rem 2rem 5rem;
}

.rail {
  display: inline;
  cursor: pointer;
}

.todoText {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.todoCreatedAt {
  float: left;
}

.todoPriority {
  float: right;
}

.counters {
  margin: auto;
  width: 5%;
  padding: 20px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  display: table-cell;
  vertical-align: middle;
}

.sort {
  margin-top: 15px;
  margin-bottom: 15px;
  border: solid;
  padding: 5px;
}

::-webkit-input-placeholder {
  text-align: right;
}